<!DOCTYPE HTML>
<html>
	<head>
		<title>Meep Meepers</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112343839-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-112343839-1');
		</script>
	</head>

	<body ng-app="MeepMeepers" ng-cloak>
		<div ng-controller="meepCtrl" >

			<section id="header">
				<header>
					<svg viewBox="0 0 960 300">
						<symbol id="s-text">
							<text text-anchor="middle" x="50%" y="80%">Meepers</text>
						</symbol>
						<g class = "g-ants">
							<use xlink:href="#s-text" class="text-copy"></use>
							<use xlink:href="#s-text" class="text-copy"></use>
							<use xlink:href="#s-text" class="text-copy"></use>
							<use xlink:href="#s-text" class="text-copy"></use>
							<use xlink:href="#s-text" class="text-copy"></use>
						</g>
					</svg>
					</header>
					<p ng-repeat="user in users">{{user.name}} {{user.id}}</p>
				<footer>
					<a href="#banner" class="button style2 scrolly-middle">Project Description</a>
				</footer>
			</section>

			<section id="banner">
				<header>
					<h2>Introduction</h2>
					<p> We aim to build a tool to help a business interact with their clients in a way that promotes Business-Customer Realtionships.</p>
				</header>
				<h2>Description</h2>
				<p> Our goal is to develop Customer Relationship Management (CRM) tool using Angular and Firebase for a business to compile information on customers. We will create profiles for wach customer and provide data relevant to that customer. We will look for a possible client to sell the Web App later on. </p>
				<footer>
					<a href="#first" class="button style2 scrolly">Team Info.</a>
				</footer>
			</section>

			<article class="container box style1 right" ng-repeat="user in users">
				<a href="#" class="image fit"><img ng-src="images/{{user.id}}.jpg" alt="" /></a>
				<div class="inner info-person">
					<header>
						<h2>{{user.name}}</header>
					<p ng-repeat="q in user.questions">
						<b>{{questions[$index]}}</b><br>
						{{q}}
					</p>
				</div>
			</article>

			<article class="container box style1 left">
			</article>


			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
			</script>

			<script type="text/javascript">
				 var app = angular.module('MeepMeepers', ['ngMaterial']);

				 app.controller('meepCtrl', function($scope, $mdToast, $mdDialog, $location, $window) {

					 var config = {
						 apiKey: "AIzaSyDyKEcGaUvOUz5Qa1SU50B0fdngqBGj1pU",
						 authDomain: "meep-meepers.firebaseapp.com",
						 databaseURL: "https://meep-meepers.firebaseio.com",
						 projectId: "meep-meepers",
						 storageBucket: "meep-meepers.appspot.com",
						 messagingSenderId: "856563136447"
					 };
					 firebase.initializeApp(config);

					 var dbRef = firebase.database();
					 var usersRef = dbRef.ref('users');
					 var questionsRef = dbRef.ref('questions');
					 $scope.users = [];
					 $scope.questions = [];

					 usersRef.on("child_added", function(snap) {
						 $scope.$apply(function() {
							 $scope.users.push(snap.val());
						 });
				 });

				 questionsRef.on("child_added", function(snap) {
					 $scope.$apply(function() {
						 $scope.questions.push(snap.val());
					 });
				 });

		 });


		</script>
	</body>
</html>
