<!DOCTYPE HTML>
<html>
	<head>
		<title>Meep Meepers</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body ng-app="MeepMeepers" ng-cloak>
		<div ng-controller="meepCtrl" >

			<section id="header">
				<header>
					<h1>WEB APPLICATION DEVELOPMENT</h1>
					<p ng-repeat="user in users">{{user.name}} {{user.id}}header>
				<footer>
					<a href="#banner" class="button style2 scrolly-middle">Project Description</a>
				</footer>
			</section>

			<section id="banner">
				<header>
					<h2>This is Overflow</h2>
				</header>
				<p>A brand new site template designed by <a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net">HTML5 UP</a>.<br />
				It’s fully responsive, built on <strong>skel</strong>, and of course entirely free<br />
				under the <a href="http://html5up.net/license">Creative Commons license</a>.</p>
				<footer>
					<a href="#first" class="button style2 scrolly">Act on this message</a>
				</footer>
			</section>

			<article class="container box style1 right" ng-repeat="user in users">
				<a href="#" class="image fit"><img ng-src="images/{{user.id}}.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>{{user.name}}					</header>
					<p ng-repeat="q in user.questions">
						<b>{{questions[$index]}}</b><br>
						{{q}}
					</p>
				</div>
			</article>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
			</script>

			<script type="text/javascript">
				 var app = angular.module('MeepMeepers', ['ngMaterial']);

				 app.controller('meepCtrl', function($scope, $mdToast, $mdDialog, $location, $window) {

					 var config = {
						 apiKey: "AIzaSyDyKEcGaUvOUz5Qa1SU50B0fdngqBGj1pU",
						 authDomain: "meep-meepers.firebaseapp.com",
						 databaseURL: "https://meep-meepers.firebaseio.com",
						 projectId: "meep-meepers",
						 storageBucket: "meep-meepers.appspot.com",
						 messagingSenderId: "856563136447"
					 };
					 firebase.initializeApp(config);

					 var dbRef = firebase.database();
					 var usersRef = dbRef.ref('users');
					 var questionsRef = dbRef.ref('questions');
					 $scope.users = [];
					 $scope.questions = [];

					 usersRef.on("child_added", function(snap) {
						 $scope.$apply(function() {
							 $scope.users.push(snap.val());
						 });
				 });

				 questionsRef.on("child_added", function(snap) {
					 $scope.$apply(function() {
						 $scope.questions.push(snap.val());
					 });
				 });

		 });

			</script>
	</body>
</html>
